@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #150e28;
  color: #fff;
}

hr {
  border: 1px solid #ffffff2e;
}

.btn {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}
.registerBtn {
  background: #140F28;
  border: 2px solid #9A39FF;
}
.circle {
  background: linear-gradient(270deg, #8f01fe 0%, #ff2674 97.24%);
}
.timeline {
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
}
.contact {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formBackground {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.input {
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .formBackground {
    background: none;
  }
}

@font-face {
  font-family: "Clash_Display";
  font-weight: bold;
  src: url("/public/fonts/ClashDisplay-Bold.otf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/public/fonts/MontserratAlt1-Medium.otf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/public/fonts/MontserratAlt1-Regular.otf");
}
@font-face {
  font-family: "Unica_One";
  font-weight: 400;
  src: url("/public/fonts/UnicaOne-Regular.ttf");
}
